@font-face {
  font-family: "aniron";
  src: url('../polices/titre/anirm___.ttf') format('truetype');
  }	

@font-face {
  font-family: "business";
  src: url('../polices/text/partybusiness.ttf') format('truetype');
  }
  @font-face {
    font-family: "tengwar";
    src: url('../polices/tengwar/tngan.ttf') format('truetype');
    }
.logo{
  /*background-image: url("../img/logo.png");*/
  background-repeat: no-repeat;
	background-size: cover;
  height: 30px;
}
.titre{
  /*font-family: "aniron", Helvetica, Arial, sans-serif;*/
  font-size: 12px;
  color: white;
}
.titre a{
  font-family: "aniron", Helvetica, Arial, sans-serif;
  color: white;
}

button{
  color: white;
}
.active{
  /*text-decoration: underline;*/
  border-bottom: 3px solid #fff;
}
.titre a:hover{
  /*text-decoration: underline;*/
  border-bottom: 3px solid #fff;
}
.symbol{
  display: inline;
  font-family: "tengwar", Helvetica, Arial, sans-serif;
  font-size: 5vh;
  color: #F1730C;
}
.slide1{
  background-image: url("../img/slide_dark_vador.jpg");
}
.slide2{
  background-image: url("../img/weneedyou-1.png");
}
.slide3{
  background-image: url("../img/army.png");
}
.carousel-inner .slide1, .carousel-inner .slide2, .carousel-inner .slide3{
  background-repeat: no-repeat;
	background-size: cover;
}
.carousel-inner{
  max-height: 400px;
}
.carousel-caption{
  top: 20vh;
  font-family: "business", Helvetica, Arial, sans-serif;
  font-size: 35px;
}
.carousel-caption h2{
  top: 20vh;
  font-family: "business", Helvetica, Arial, sans-serif;
  font-size: 50px;
}
section h4, section span, section li a{
  font-family: "aniron", Helvetica, Arial, sans-serif;
}
section h4, section span{
  display: inline;
}
section li a{
  color: #000000;
  font-size: 14px;
  /*background-color: aqua;*/
}
section li a:hover{
  text-decoration: none;
  color: #F1730C;
  border-bottom: 3px solid #F1730C;
}
.nav .active .symbol{
  opacity: 1;
}
.nav .active{
  color: #F1730C;
  border-bottom: 3px solid #F1730C;
}
.nav a .symbol{
  opacity: 0;
}

/* css image gandalf */

/*
.background1 {
  background: url("http://images.innoveduc.fr/integration_gandalf.png");
}
*/

/*
*  code de pre-rentree
*
*
**********************/
.gandalf{
  margin-top: 15px;
}
@media (max-width: 767px) {
  .titre span{
    display: none;
  }
  section h4, section span, section li a, section .symbol{
    font-family: "aniron", Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
  section h4, section span{
    display: inline;
  }
  .image {
    height: 10vh;
    position: relative;
    text-align: center;
    border: 5px;
    background-color: #000000;
  }
  .image img{
    width: 15em;
    height: 15em;
    object-fit: cover;
  }
  .image p{
    position: absolute;
    left: 90px;
    top: 20px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color:#000000;
    text-align: center;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0.8);
  }
  .image h1{
    position:absolute;
    left: 100px;
    top: 175px;
    font-family: "business", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight : lighter;
    color:#FFFFFF;
  }
  .image .textdead{
    left: 150px;
    text-decoration: line-through #F1730C;
  }
}
@media (min-width: 768px){
  .image {
    position: relative;
    text-align: center;
    border: 30px;
    border-color: #FFFFFF;
    height: 60vh;
    background-color: #000000;
  }
  .image img{
    width: 15em;
    height: 15em;
    opacity: 0.6;
    object-fit: cover;
  }
  .image p{
    position: absolute;
    left: 50px;
    top: 10px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    color:#000000;
    text-align: center;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0.8);
  }
  .image:hover img{
    opacity:1;
  }
  
  .image:hover .ecriture,.image:hover .dead{
    opacity:0;
  }
  
  .image:hover h1{
    position:absolute;
    left: 125px;
    top: 275px;
    font-size: 48px;
    font-weight : lighter;
    color:#FFFFFF;
  }
  .image h1{
    position:absolute;
    left: 50px;
    top: 175px;
    font-family: "business", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight : lighter;
    color:#FFFFFF;
  }
  .image .textdead{
    left: 10vw;
    padding: auto auto;
    text-decoration: line-through #F1730C;
  }
}
@media (min-width: 992px){
  .image, .card {
    position: relative;
    text-align: center;
    /*border: 3px;*/
    width: 18rem;
    /*height: 55vh;*/
    /*border-color: #000000;*/
  }
  .image img, .card img{
    height: 350px;
    opacity: 0.6;
    object-fit: cover;
  }
  .image p, .card .bulle{
    position: absolute;
    /*left: 5vw;
    top: 20px;*/
    width: 10vw;
    height: 10vh;
    font-size: 1.5em;
    color:#000000;
    text-align: center;
    top: 5%; left: 25%;
    /*margin-left: auto;
    margin-right: auto;*/
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0.8);
  }
  .image:hover img, .card:hover img{
    opacity:1;
  }
  
  .image:hover .ecriture,.image:hover .dead,
  .card:hover .ecriture,.card:hover .dead{
    opacity:0;
  }
  
  .image:hover h1, .card:hover h1{
    position:absolute;
    left: 25%;
    top: 275px;
    font-size: 48px;
    font-weight : lighter;
    color:#FFFFFF;
  }
  .image h1, .card h1{
    position:absolute;
    left: 25%;
    top: 175px;
    font-family: "business", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight : lighter;
    color:#FFFFFF;
  }
  .image .textdead, .card .textdead{
    left: 25%;
    text-decoration: line-through #F1730C;
  }
}

.ecriture {
  font-family: "business", Helvetica, Arial, sans-serif;
  top: 50px;
  /*z-index: 1;*/
  position: absolute;
  color: rgba(255,255,255,1);
  /*background-color: brown;*/
}

.image .dead, .card .dead{
  left: 25%;
  position: absolute;
  background-color: transparent;
  font-family: "business", Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #F1730C;
}
.image p span, .card p span{
color: #F1730C;
}
.text{
  font-family: "business", Helvetica, Arial, sans-serif;
  font-size: 24px;
}